/* Fixes LibGuides tab fonts to remove shawdowing */

.site-content li a {
    text-shadow:none;
    }

/* Make some backgrounds white if want we want them to be */
  
/*
body {
    background: #ffffff;
    width: 100%;
}
*/

#page {
    background: #ffffff;
}


.container {
width:95%;
}
 
@media (min-width: 1200px) {
	

}