/* Fixes LibGuides tab fonts to remove shawdowing */

.site-content li a {
    text-shadow:none;
    }

/* Make some backgrounds white if want we want them to be */
  
/*
body {
    background: #ffffff;
    width: 100%;
}
*/

/*
#page {
    background: #ffffff;
    width:100%;
}
*/

/* putting this here may be overkill, if it causes problems with other page / elements and resultions move into the min-width: 1200px media query  */

.container {
width:auto;
}
 
@media (min-width: 1200px) {
	

}