/* Fixes LibGuides tab fonts to remove shawdowing */

.site-content li a {
    text-shadow:none;
    }
    
/*  Increases box title font size  */
 
 h2.s-lib-box-title {
	 font-size: 18px !important; 
    }

/* Make some backgrounds white if want we want them to be */
  
/*
body {
    background: #ffffff;
    width: 100%;
}
*/

#page {
    background: #ffffff;
}

.container {
width:95%;
}

/* Added to remove background color from LibAnswers breadcrumbs */
ol.s-la-color-bars {
	background: none;
}

/* Changes button color to orange */

.btn-primary{
background-color: #FF8200 !important;	
}

 
@media (min-width: 1200px) {
	

}
